<div class="header">
  <h1>My Website</h1>
  <p>A Sample blog site.</p>
</div>

<div class="navbar">
  <a routerLink="/">Home</a>
  <a href="#">Contact</a>
  <a href="#">About Me</a>
  <div *ngIf="auth.user$ | async; then authenticated else guest"></div>
</div>

<ng-template #guest>
  <div class="dropdown">
    <button class="dropbtn" (click)="auth.googleSignin()">Login</button>
  </div>
</ng-template>
<ng-template #authenticated>
  <div class="dropdown">
    <button class="dropbtn" *ngIf="auth.user$ | async as user">
      <img src="{{ user.photoURL }}" style="border-radius: 50%; height:28px; width:28px; position: relative; top: 8px;"> {{ user.displayName }} <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="admin">Admin Dashboard</a>
      <a (click)="auth.signOut()">Logout</a>
    </div>
  </div> 
</ng-template>

<router-outlet></router-outlet>
<div class="footer">
  <h2>Footer</h2>
</div>